<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto - Barbearia Ficticia</title>
  <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
<header id="header">
  <nav id="nav-menu">
    <div class="logo-container">
      <img src="../img/LOGO_BARBEARIA.webp" alt="Logo Barbearia Ficticia" id="logo-img">
      <h1 class="logo-text">Barbearia FICTICIA</h1>
    </div>
    <ul class="nav-list">
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="portfolio.html">Galería</a></li>
      <li><a href="presupuesto.html">Presupuesto</a></li>
      <li><a href="contacto.html" class="active">Contacto</a></li>
    </ul>
  </nav>
</header>

<main id="main-content">
  <h2>Contacto</h2>
  <p>Encuéntranos en la siguiente dirección:</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.5874242626896!2d-5.979174088044192!3d37.3759380719722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126fbe9a6cd57d%3A0x319bb98b03f6d29b!2sMasterD%20Sevilla%20%7C%20Academia%20de%20Cursos%20Profesionales!5e0!3m2!1ses!2ses!4v1730200092498!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div id="contact-info">
    <p>Dirección: Calle Ejemplo, 123, Ciudad</p>
    <p>Teléfono: +34 123 456 789</p>
    <p>Email: contacto@barberficticia.com</p>
  </div>
</main>

<footer id="footer">
  <p>Síguenos en:</p>
  <a href="https://www.facebook.com" target="_blank" class="social-link"><img src="../img/facebook-logo.png" alt="Facebook"></a>
  <a href="https://www.instagram.com" target="_blank" class="social-link"><img src="../img/instagram-logo.png" alt="Instagram"></a>
  <p>Dirección: Calle Ejemplo, 123, Ciudad</p>
  <p><a href="aviso_legal.html" class="legal-link">Aviso legal</a></p>
</footer>
</body>
</html>
