<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Adcionado para quitar el Error -->
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
  <title>Presupuesto - Barbearia Ficticia</title>
  <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
<header id="header">
  <nav id="nav-menu">
    <div class="logo-container">
      <img src="../img/LOGO_BARBEARIA.webp" alt="Logo Barbearia Ficticia" id="logo-img">
      <h1 class="logo-text">Barbearia FICTICIA</h1>
    </div>
    <ul class="nav-list">
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="portfolio.html">Galería</a></li>
      <!--Se agregó una clase active para indicar en qué página se encuentra el usuario. -->
      <li><a href="presupuesto.html" class="active">Presupuesto</a></li>
      <li><a href="contacto.html">Contacto</a></li>
    </ul>
  </nav>
</header>

<main id="main-content">
  <h2>Solicitar Presupuesto</h2>
  <form id="quote-form" action="" method="post">
    <!--Fue adicionado los pattern y los placeholder -->
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" pattern="[A-Za-z\s]{1,50}" placeholder="Nombre Apelido" required class="form-input">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" placeholder="exemplo@exemplo.com" required class="form-input">

    <label for="telefono">Teléfono:</label>
    <input type="tel" id="telefono" name="telefono" pattern="\d{9}" placeholder="123456789"required class="form-input">

    <label for="informacion">Solicite más información:</label>
    <textarea id="informacion" name="informacion" required class="form-textarea"></textarea>

    <label for="privacidad">
      <input type="checkbox" id="privacidad" name="privacidad" required> Acepto la Política de privacidad
    </label>

    <button type="submit" class="submit-button">Enviar</button>
  </form>
</main>

<footer id="footer">
  <p>Síguenos en:</p>
  <a href="https://www.facebook.com" target="_blank" class="social-link"><img src="../img/facebook-logo.png" alt="Facebook"></a>
  <a href="https://www.instagram.com" target="_blank" class="social-link"><img src="../img/instagram-logo.png" alt="Instagram"></a>
  <p>Dirección: Calle Ejemplo, 123, Ciudad</p>
  <p><a href="aviso_legal.html" class="legal-link">Aviso legal</a></p>
</footer>
</body>
</html>
